
.container {
  max-width: 1440px;
}



@media (min-width: 1440px) and (max-width: 1920px) {
  .container {
    max-width: 1600px;
  
  }
 
}


@media (min-width: 1921px) {
  .container {
    max-width: 1800px;
    
  }
 
}

